In [1]:
a = [4, 6, 7, 9, 8, 2, 56, 54543, 'time', 'space']

In [6]:
for item in a[-1]:
    print(item)

s
p
a
c
e

In [7]:
a[-1][0]

's'

In [8]:
for item in ['time', 'space', 'depth', 'height', 'width', 'volume']:
    print(item[0].upper()+item[1:])

Time
Space
Depth
Height
Width
Volume

In [12]:
a[1:5]

[6, 7, 9, 8]

In [13]:
a[-5:-1]

[2, 56, 54543, 'time']

In [16]:
a[-5:]

[2, 56, 54543, 'time', 'space']

In [17]:
a[-1:-5:-1]

['space', 'time', 54543, 56]

In [18]:
a.reverse()

In [19]:
a

['space', 'time', 54543, 56, 2, 8, 9, 7, 6, 4]

In [20]:
b = a[-1::-1]

In [21]:
b

[4, 6, 7, 9, 8, 2, 56, 54543, 'time', 'space']

In [22]:
c = [3, 5, 7, 8, 9, 0, 2, 5, 77, 878]

In [23]:
for number in c[::2]:
    print(number**2)

9
49
81
4
5929

In [24]:
for number in c[::-3]:
    print(number**2)

770884
4
64
9

In [25]:
list_1 = [3, 5, 66, 76, 76, 33, 3, 66, 289, 329, 289, 245]

In [26]:
list_2 = list(set(list_1))

In [27]:
list_2

[33, 66, 3, 289, 5, 329, 76, 245]

In [29]:
list_1

[3, 3, 5, 33, 66, 66, 76, 76, 245, 289, 289, 329]

In [30]:
list_1.sort()

In [31]:
list_1

[3, 3, 5, 33, 66, 66, 76, 76, 245, 289, 289, 329]

In [32]:
list_3 = list(set(list_1))

In [34]:
list_3.sort()

In [35]:
list_3

[3, 5, 33, 66, 76, 245, 289, 329]

In [36]:
import os

In [37]:
import datetime

In [38]:
# import os, datetime <- некорректно

In [39]:
from random import Random

In [40]:
import pandas as pd

In [41]:
# import my_local_module

In [42]:
my_number = 12

In [43]:
def print_number():
    my_number = 13
    print(my_number)

In [44]:
print_number()

13

In [45]:
my_number

12

In [46]:
def print_another():
    print(my_number)

In [47]:
print_another()

12

In [48]:
def outer_func():
    my_number = 15
    def inner_func():
        my_new_number = 17
        print(my_number)
        print(my_new_number)
    inner_func()
    print(my_new_number)

In [49]:
outer_func()

15
17

NameError: name 'my_new_number' is not defined

In [55]:
def outer_func():
    my_number = 15
    def inner_func():
        my_new_number = 17
        print(my_number)
        print(my_new_number)
    return inner_func

In [51]:
obg = outer_func()

In [52]:
obg()

15
17

In [54]:
obg()

15
17

In [56]:
global_num = 20

In [57]:
def glodal_func():
    global global_num
    global_num = 32
    print(global_num)

In [58]:
glodal_func()

32

In [59]:
global_num

32